<h1>List of all the users</h1>
<main id="home" class="page">
  <h1>Users</h1>
  <ul class="users-list container">
    <% @users.each do |user| %>
      <li class="user-container d-flex gap-4 mt-5">
        <div class="user-profile-pic">
          <%= link_to user_path(user) do %>
            <img src="<%= user.photo %>" alt="profile-picture">
          <% end %>
        </div>
        <div class="user-info d-flex justify-content-between w-5 gap-4" style="width: 100%;">
          <h3 class="text-xl"><%= link_to user.name, user_path(user) %></h3>
          <p class="posts-counter align-items-end">Number of posts: <%= user.posts_counter || 0 %></p>
        </div>
      </li>
    <% end %>
  </ul>
</main>

